body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
	sans-serif;
	text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );

	.scoreBoard{
		display: flex;
		p {
			flex: auto;	
		}
	}

	.option {
		border-radius: 25px;
		background-color: aquamarine;
		border: none;
	}
 
	#result {	
		font-size: 40px;
	}

}
