<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock, PAPER Scissors!</h1>
	<h2>Please choose Rock, Paper or Scissors!</h2>
	<div>
		<p>Player one!</p>
		<button id="rock" class="option"></button>
		<button id="paper" class="option"></button>
		<button id="scissors" class="option"></button>
		<button id="random" class="option"></button>	
	</div>
	<div>
		<p>Your Opponent!</p>
		<div id="computerChoice"></div>
	</div>

	<div id="result"><div>
</body>
</html>
