<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
	<div>
		<ul>
			<li>Reset Scores!</li>
			<li>Choose for me!</li>
			<li>RPSLP - <a href="https://www.youtube.com/watch?v=x5Q6-wMx-K8">The Origin.</a></li>
		</ul>
	</div>
	<div>
		<p>
			Your Score: <p id="userScore">0</p>
		</p>
		<p>
			Computers Score: <p id="computerScore"></p>
		</p>
	</div>
	<div>
		<p>Player one!</p>
		<button id="rock" class="option">rock</button>
		<button id="paper" class="option">paper</button>
		<button id="scissors" class="option">scissors</button>
		<button id="spock" class="option">spock</button>
		<button id="lizard" class="option">lizard</button>
	</div>
	<div>
		<p>Let the CPU pick!</p>
		<button id="random" class="option">Choose for me!</button>	
	</div>
	<div>
		<p>Your Opponent!</p>
		<div id="computerChoice"></div>
	</div>
	
	<div id="result"><div>
	<p>The origin of Rock, Paper, Scissors, Lizard, Spock. 
</body>
</html>
