<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
	<h2></h2>
	<p>For those unsure... <a href="https://www.youtube.com/watch?v=x5Q6-wMx-K8">View clip</a></p>
	<div>
		<p>Player one!</p>
		<button id="rock" class="option">rock</button>
		<button id="paper" class="option">paper</button>
		<button id="scissors" class="option">scissors</button>
		<button id="spock" class="option">spock</button>
		<button id="lizard" class="option">lizard</button>
		<p>Let the CPU pick!</p>
		<button id="random" class="option">rrrraandom</button>	
	</div>
	<div>
		<p>Your Opponent!</p>
		<div id="computerChoice"></div>
	</div>

	<div id="result"><div>
</body>
</html>
