<!doctype html>
<html>
<head>
	<title>Rock - Paper - Scissors</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/abdc3d3d12.js"></script>

</head>
<body>
	<h1>Rock, Paper, Scissors, Lizard, Spock</h1>
	<h6><a href="https://github.com/LeviStrange">By Levi Strange</a></h6>
	<p>For those unfamilar with the Lizard and Spock rules...<a target="_blank" href="https://www.youtube.com/watch?v=x5Q6-wMx-K8">view clip</a>
	</p>
	<div class="scoreBoard">
		<p>Your Score: <span id="userScore">0</span></p>
		<p>Opponent's Score: <span id="computerScore">0</span></p>
	</div>
	<div>
		<button id="resetCounter" class="btn">Reset Scores</button>
	</div>
	<div class="optionList">
		<p>Take your pick:</p>
		<button id="rock" class="btn option flaticon-diamond"><i class="far fa-hand-rock"></i></button>
		<button id="paper" class="btn option"><i class="far fa-hand-paper"></i></button>
		<button id="scissors" class="btn option"><i class="far fa-hand-scissors"></i></button>
		<button id="lizard" class="btn option"><i class="far fa-hand-lizard"></i></button>
		<button id="spock" class="btn option"><i class="far fa-hand-spock"></i></button>
	</div>
	<div>
		<p>Or...Let the Computer pick!</p>
		<button id="random" class="btn option">Choose for me!</button>
		<p id="randomChoice"></p>	
	</div>
	<div>
		<p id="computerChoice"></p>	
	</div>
	
	<div id="result"><div>
	
</body>
</html>
